apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: facepredictor-frontend
  labels:
    app: facepredictor
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: facepredictor
        tier: frontend
    spec:
      containers:
      - name: facepredictor-app
        image: gcr.io/[GCLOUD_PROJECT]/facepredictor
        imagePullPolicy: Always
        env:
        - name: PROCESSES
          value: facepredictor
        ports:
        - name: http-server
          containerPort: 8080
